@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a;
  font-family: 'Nunito', sans-serif;
  color: white;
  overflow-x: hidden; 
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}


* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar {
  width: 8px; 
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); 
  border-radius: 10px;
  border: 2px solid transparent; 
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

